@model IEnumerable<Murray_P1.Models.ShopCustomer>

@{
    ViewBag.Title = "ByState";
}

<h2>State: @ViewBag.ChosenState</h2>


<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href='@Url.Action("Details", "JordanCustomers", new { id = item.CustomerFirstName })'>

                    @Html.DisplayFor(modelItem => item.CustomerFirstName)
                    </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
        </tr>
    }
    <tr>
        <td colspan="5" class="text-center">
            @Html.ActionLink("Back", "ChooseState", "JordanStates")
        </td>

</table>