@model Murray_P1.Models.JordanInventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JordanInventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemStyleNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemStyleNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCategoryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategoryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageFile)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemStyleNum }) |
    @Html.ActionLink("Back to Categories", "ChooseCategory", "JordanCategories")
</p>
